:root {
  --background-accent: #38434f;
  --main-text: #6fb8f5;
  --main-svg: #73a0af;
  --main-background: #1d2833;
  --secondary-text: #7dd8ec;
  --ui-overlay: #000000de;
}

#global-nav,
#main > div:nth-child(1) > div,
div.relative.ember-view,
button.feed-shared-inline-show-more-text__see-more-less-toggle,
div.comments-comments-list,
div.feed-shared-external-video__meta,
div.social-details-first-prompt-block,
div.feed-shared-linkedin-video__sponsored-description-container,
div.comments-comment-item-content-body,
div.artdeco-modal__header,
diV.share-box-footer {
  background-color: var(--background-accent) !important;
}

#primary-navigation > ul > li > a > span,
span[class^="global-nav"],
#main
  > div:nth-child(1)
  > div
  > div.display-flex.align-items-center.mt2.mr4.ml4
  > button,
input,
::placeholder,
span.artdeco-button__text,
span.share-box-feed-entry__bottom-bar-item-text,
div.relative.ember-view,
span.feed-shared-header__text-view,
span.feed-shared-actor__supplementary-actor-info,
span.feed-shared-actor__description,
h3.feed-shared-article__subtitle,
h2.feed-shared-article__description,
div.feed-shared-text span,
button.social-details-social-counts__count-value span,
span.feed-shared-actor__sub-description,
p.feed-shared-main-content
  div.feed-shared-linkedin-video__sponsored-description-container
  h2,
div.feed-shared-carousel-job__content p,
div.feed-shared-carousel-job__footer-text,
div.feed-shared-poll-option__text-container span,
div.feed-shared-poll-option__percentage,
button[data-control-name="feed_sort_dropdown_trigger"] span:first-child,
button#timezone-picker-dropdown-trigger > div,
div.artdeco-dropdown__content-inner > ul > li > div,
div.events-shared-creation-form-v2__form-content div.t-14.t-black--light.mt3,
div.events-shared-creation-form-v2__form-content h3,
div.events-shared-creation-form-v2__form-content label,
span.artdeco-text-input--counter,
div.basic-typeahead__triggered-content *,
#speakers-control-help-note,
div.events-shared-creation-form-v2__form-content span.t-12.t-black--light,
button.events-shared-event-visibility__dropdown-trigger > div,
div.events-shared-creation-form-v2__form-content
  > form
  > section.mt6.mb4
  > div.display-flex.align-items-center.mt3
  > label,
div.events-shared-creation-form-v2__form-content > form > section.mt6.mb4 label,
div.events-shared-creation-form-v2__footer.justify-space-between > div > span {
  color: var(--main-text) !important;
}

svg,
*[id^="global-nav-icon"] {
  fill: var(--main-svg) !important;
}

#ember43 > div,
#voyager-feed,
#main
  > div:nth-child(1)
  > div
  > div.display-flex.align-items-center.mt2.mr4.ml4
  > button,
input,
.comments-comment-box-comment__text-editor,
div.comments-comment-box__form-container.flex-grow-1 div.display-flex.mlA,
article.feed-shared-article,
a.comments-post-meta__profile-link,
div.comments-highlighted-comment-item-content-body,
div.comments-reply-item-content-body,
span.reactions-menu--active,
div.feed-shared-update-v2__update-content-wrapper > div,
div.comments-highlighted-comment-item__show-more-text
  button.feed-shared-inline-show-more-text__see-more-less-toggle,
div.feed-shared-carousel-job__container,
div.feed-shared-poll,
div.feed-shared-linkedin-video__description-container--learning,
div.image-sharing-detour-container__edit-content,
div.share-box-modal-content__container,
button.img-edit-button__dropdown-trigger,
button#timezone-picker-dropdown-trigger,
div.artdeco-dropdown__content-inner,
div.basic-typeahead__triggered-content,
button.events-shared-event-visibility__dropdown-trigger {
  background: var(--main-background) !important;
}

div.relative.ember-view {
  border-radius: 15px !important;
}

span.feed-shared-header__text-view a,
span.feed-shared-actor__name,
div.feed-shared-text a,
button.feed-shared-inline-show-more-text__see-more-less-toggle,
h2.feed-shared-article__title,
span.comments-post-meta__name,
span.comments-post-meta__headline,
span.dist-value,
button.follow,
time.comments-comment-item__timestamp,
h2.feed-shared-external-video__description-headline,
h3.feed-shared-external-video__description-byline,
div.social-details-first-prompt-block button p.t-black,
div.inline-show-more-text.inline-show-more-text--is-collapsed.inline-show-more-text--is-collapsed-with-line-clamp,
button.feed-shared-button,
div.feed-shared-poll__header p,
a.feed-shared-linkedin-video__description h2,
a.feed-shared-linkedin-video__description h3,
button[data-control-name="feed_sort_dropdown_trigger"] span.t-bold,
#share-to-linkedin-modal__header,
label[for="image-sharing-detour-container__file-input"],
label[for="video-detour__file-input"] {
  color: var(--secondary-text) !important;
}

.comments-comment-texteditor {
  border: 1px solid black !important;
}

.comments-comment-box-comment__text-editor {
  border-radius: 30px 0 0 30px !important;
  border-left: 1px solid black !important;
}

div.comments-comment-box__form-container.flex-grow-1 div.display-flex.mlA {
  border-radius: 0 30px 30px 0 !important;
  border-right: 1px solid black !important;
}

article.feed-shared-article {
  border-left: 10px solid var(--background-accent) !important;
  border-right: 10px solid var(--background-accent) !important;
}

span.reactions-menu--active {
  box-shadow: 0px 0px 7px 7px var(--background-accent) !important;
}

div.feed-shared-text {
  padding: 15px !important;
}

div.feed-shared-inline-show-more-text {
  margin-bottom: 0 !important;
  padding-bottom: 12px !important;
}

section.ad-banner-container {
  display: none !important;
}

div.artdeco-modal-overlay {
  background: var(--ui-overlay) !important;
}

div.share-box-footer {
  border-top: 0 !important;
}
